#chart_div{
  width:800px;
  height: 450px;
  
}
#loginHead{

	font-style: italic;
	font-family: calibri;
	font-size: 3em;
	padding-left: 6.5em;
}

.error{

	padding-left: 15em;
}
/* form wizard css */

.prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
.prev:hover, .next:hover { background-color:#000; text-decoration:none;}
.prev { float:left;}
.next { float:right;}

#steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#steps li span {font-size:11px; display:block;}
#steps li.current { color:#000;}



/*form wizard css end */

